body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 24px;
}
